ion-checkbox {
    position: relative;
    margin: 0px 10px;
    --background-checked: var(--ion-color-success);
    --border-color-checked: #fff;
    --background-activated: #fff;
}

#ion-select-project {
    margin: 0 auto;
    height: 64px;
}
ion-item-group {
    .ion-item-task {
        color: rgb(37, 37, 37);
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 24px 8px;
        font-size: 16px;
        padding: 16px 0px 16px 0px;
        --background-activated: rgb(255, 255, 255);

        .deadline {
            position: relative;
            top: 20px;
        }

        .edit-item {
            padding: 2px 4px;
            border-radius: 10px;
            box-shadow: rgb(100 110 111 / 64%) -2px 3px 0px;
            margin-bottom: 30px;
            font-size: 24px;
        }
        .edit-item:active {
            background-color: rgba(0, 0, 0, 0.25);
        }
    }

    .low-priority {
        border: 2px solid var(--ion-color-success-tint);
    }

    .medium-priority {
        border: 2px solid var(--ion-color-warning-tint);
    }

    .high-priority {
        border: 2px solid var(--ion-color-danger-tint);
    }
}

.finished {
    opacity: 0.25;
}
