<app-ionic-header [title]="headerTitle"></app-ionic-header>

<ion-content>
  <ion-item>
    <ion-select class="custom-options project-select" placeholder="Selecione o Projeto" 
    [(ngModel)]="selectedProject"
      id="ion-select-project"
      (ionChange)="changeProject($event)">
      <ion-select-option value="{{ item.id }}" *ngFor="let item of projectList">{{ item.title }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list *ngFor="let item of taskList">
    <ion-item-group>
      <ion-item [ngClass]="{'high-priority': item._priority == 3 , 
                            'medium-priority': item._priority == 2, 
                            'low-priority': item._priority == 1}" class="ion-item-task" lines="none">
        <ion-checkbox color="primary" (click)="completeTask($event)" value="{{ item._id }}"></ion-checkbox>
        <ion-label><b>{{ item._title }}</b></ion-label>
        <p class="deadline">{{ this.formatDate(item._deadlineDate) }}</p>
        <div class="edit-item" (click)="goToEdit(item)">
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>

<app-ionic-tabs></app-ionic-tabs>