ion-checkbox{
    position: relative;
    margin: 0px 10px;
}

#ion-select-project{
    margin: 0 auto;
    height: 64px;
}
ion-item-group{
    .ion-item-task{
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin: 24px 8px;
        font-size: 18px;
        padding: 16px 0px 16px 0px;
    }
}